<div id="checkr">
  <div id="banner-checkr">
    <div if="logo-checkr">
    </div>
    <div if="header-checkr">
      <ul>
        <li>product</li>
        <li>staffing</li>
        <li>industries</li>
        <li>ressources</li>
        <li>compliance</li>
      </ul>
    </div>
    <div if="register-checkr">
      <div id="infos-checkr">
        <ul>
          <li>I Am an Applicant</li>
          <li>API & Docs</li>
          <li>About Us</li>
          <li>Careers</li>
        </ul>
      </div>
      <div id="log-checkr">
        <button>Log In</button>
        <button>Get Started</button>
      </div>

    </div>
  </div>

  <div id="main-checkr">
  </div>

</div>
