<div id="checkr1">
  <div id="banner-checkr1">
    <div class="element2">I Am an Applicant</div>
    <div class="element2">API & Docs</div>
    <div class="element2">About Us</div>
    <div class="element2">Careers</div>
  </div>

  <div id="banner-checkr2">
    <div id="header-checkr">
      <%= image_tag "logo-checkr.png", alt: "Logo Checkr", width: 130 %>
      <div><a class="element1 white" href="#">product</a>
        <ul>
          <li class="menu-deroulant">Overview</li>
          <li class="menu-deroulant">Screenings</li>
          <li class="menu-deroulant">Compliance</li>
          <li class="menu-deroulant">Security</li>
        </ul>
      </div>
      <div><a class="element1 white" href="#">staffing</a>
        <ul>
          <li class="menu-deroulant">Overview</li>
        </ul>
      </div>
      <div><a class="element1 white" href="#">industries</a>
        <ul>
          <li class="menu-deroulant">Overview</li>
          <li class="menu-deroulant">Contact Centers</li>
          <li class="menu-deroulant">Retail & Hospitality</li>
          <li class="menu-deroulant">Non Profit</li>
          <li class="menu-deroulant">Manufacturing</li>
          <li class="menu-deroulant">Small Business</li>
          <li class="menu-deroulant">Staffing</li>
          <li class="menu-deroulant">Financial Services</li>
          <li class="menu-deroulant">Healthcare</li>
          <li class="menu-deroulant">On-Demand Economy</li>
          <li class="menu-deroulant">Software & Technology</li>
          <li class="menu-deroulant">P2P Marketplaces</li>
        </ul>
      </div>
      <div class="element1"><a class="element1 white" href="#">ressources</a>
        <ul>
          <li class="menu-deroulant">Overview</li>
          <li class="menu-deroulant">uides & White Papers</li>
          <li class="menu-deroulant">FAQ</li>
        </ul>
      </div>
      <div class="element1 white">compliance
      </div>
    </div>
    <div id="register-checkr">
      <button class="button1 element1 white">Log In</button>
      <button class="button2 element1">Get Started  &rarr;</button>
    </div>
  </div>

  <div id="main-checkr">
    <div id="presentation">
      <h1 class="modif1 white">Hire great people. <br />
        Faster.</h1>
      <p class="standard white">Checkr provides modern and compliant background checks for global enterprises and startups.</p>
      <button class="button-yellow">EXPLORE NOW  &rarr;</button>
    </div>

    <div id="video">
      <video autoplay="" loop="" preload="auto" poster="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero_poster.png" data-setup="{}">
					<source src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero.mp4" type="video/mp4">
					<source src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero.webm" type="video/webm">
					<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero_poster.png" height="634" width="606">
			</video>
    </div>
  </div>

  <div id="main-checkr2">
    <h2>More Than 10,000 Businesses Trust Checkr for Their Background Screenings</h2>
  </div>

  <div id="main-checkr3">
    <h2>The Next Generation of Background Checks</h2>
  </div>

  <div id="main-checkr2">
    <h2>Tailored to Fit Your Industry’s Needs</h2>
  </div>


Tailored to Fit Your Industry’s Needs
</div>
