<div id="checkr1">
  <div id="banner-checkr">
    <div>
      <%= image_tag "logo-checkr.png", alt: "Logo Checkr", width: 130, height: 130 %>
    </div>
    <div id="header-checkr">
      <div class="element1">product</div>
      <div class="element1">staffing</div>
      <div class="element1">industries</div>
      <div class="element1">ressources</div>
      <div class="element1">compliance</div>
    </div>
    <div id="register-checkr">
      <div id="infos-checkr">
        <div class="element2">I Am an Applicant</div>
        <div class="element2">API & Docs</div>
        <div class="element2">About Us</div>
        <div class="element2">Careers</div>
      </div>
      <div id="log-checkr">
        <button class="element1">Log In</button>
        <button class="element1">Get Started</button>
      </div>

    </div>
  </div>

  <div id="main-checkr">
    <div id="presentation">
      <h1 class="modif1 white">Hire great people. <br />
        Faster.</h1>
      <p class="standard white">Checkr provides modern and compliant background checks for global enterprises and startups.</p>
      <button class="button-yellow">EXPLORE NOW  &rarr;</button>
    </div>

    <div id="video">
      <video autoplay="" loop="" preload="auto" poster="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero_poster.png" data-setup="{}">
					<source src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero.mp4" type="video/mp4">
					<source src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero.webm" type="video/webm">
					<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero_poster.png" height="634" width="606">
			</video>
    </div>
  </div>
</div>
