<div id="main-flynn">
  <%= image_tag "flynn.svg", alt: "Logo Flynn", width: 130 %>
  <div>
    About
    Docs
    Blog
    Pricing
    Try
  </div>
  <h1 class="flynn-font">Throw away the duct tape.<br />
    Say hello to Flynn.</h1>
    <video poster="/images/flynn_demo_poster-80eaa060.jpg">
        <source src="https://dl.flynn.io/assets/flynn_demo_2m.mp4" type="video/mp4">
    </video>



</div>
