<div class="div_center">
  <h1>Landing Pages Examples</h1>

  <div id="conteneur">
    <%= link_to "Checkr", home_checkr_path, class: "button bg-orange" %>
    <%= link_to "Flynn", home_flynn_path, class: "button bg-red" %>
    <%= link_to "Sparks", home_sparks_path, class: "button bg-blue" %>
    <!-- <button tyoe=button></button>
    <button tyoe=button></button>
    <button tyoe=button></button> -->
  </div>
</div>
