// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// HOME
// ====
html, body{
  margin: 0;
  padding: 0;
}
.div_center{
  margin: 0 30%;
}
h1{
  font-family: comic-sans, cursive;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}
#conteneur{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#conteneur a:hover{
  background-color: purple;
}
.button{
  width: 120px;
  height: 30px;
  margin: 10px 20px;
  padding: 15px 10px 10px 10px;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  border-radius: 10px;
}
.bg-orange{
  background-color: orange;
}
.bg-red{
  background-color: red;
}
.bg-blue{
  background-color: blue;
}

// CHECKR
// ======
#checkr1{
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #999;
  background-image: url(asset-path("fond-checkr.png"));
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  width: 100%;
  color: #FFFFFF;
  font-family: sans-serif;
}
#banner-checkr1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 10px 10%;
}
#banner-checkr2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: center;

  margin: 0px 10%;
}
#header-checkr{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.element1{
  font-family: sans-serif;
  font-size: 1em;
  font-variant: small-caps;
  font-weight: bold;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}
.element1:hover, .element2:hover{
  color: #CCCCCC;
}
.menu-deroulant{
  display: none;
  overflow:hidden
}
.menu-deroulant:hover{
  display: inline-block;
}
#register-checkr{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.button1{
  background-color: transparent;
  border: none;
}
.button2{
  background-color: transparent;
  width: 200px;
  height: 50px;
  padding: 15px 10px 10px 10px;
  text-align: center;
  color: rgb(224, 190, 45);
  border: 2px solid rgb(224, 190, 45);
  border-radius: 5px;

}
.button2:hover{
  background-color: rgb(224, 190, 45);
  color: #000000;
}
.element2{
  font-family: sans-serif;
  font-size: 0.8em;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
.modif1{
  font-family: sans-serif;
  text-align: left;
  margin-top: 100px;
}
.white{
  color: white;
}
#main-checkr{
  margin: 22px 10% 0px 10%;
  display: flex;
  flex-direction: row;
}
#presentation{
  width: 35%;
  margin-right: 150px;
}
#video{
  width: 50%;
}
.standard{
  font-family: sans-serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 2em;
  margin-bottom: 20px;
}
.button-yellow{
  background-color: rgb(224, 190, 45);
  width: 250px;
  height: 70px;
  margin-top: 30px;
  padding: 15px 10px 10px 10px;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  font-variant: small-caps;
  color: #000000;
  border: none;
  border-radius: 5px;
}
h2{
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: #000000;
  margin-top: 70px;
  margin-bottom: 30px;
}
#main-checkr2{
  background-color: #FFFFFF;
}
#main-checkr3{
  background-color: #EEEEEE;
  border-top: solid #CCCCCC 1px;
}
#main-checkr4{
  background-color: blue;
  border-top: solid #CCCCCC 1px;
}
.conteneur-row{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  margin: 30px 15% 100px 15%;
}
.conteneur-wrap{
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-around;
  margin: 30px 15%;
}
.center{
  text-align: center;
}
.title{
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: #000000;
  line-height: 2em;
}
.text{
  text-align: center;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 0.8em;
  color: #BBBBBB;
  line-height: 2em;
}
.blocks{
  width: 250px;
  margin: 10px;
}
footer{
background-color: #000000;
color: #FFFFFF;
display: flex;
flex-direction: row;
justify-content: space-around;
}
footer > div{
  margin: 5px;
  width: 250px;
}

// FLYNN
// ======
#main-flynn{
  margin: 30px 20%;
  background-color: #FFFFFF;
  color: green;
}
.flynn-font{
  font-family: sans-serif;
}
video{
  width: 800px;
}

// SPARKS
// ======
